* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    margin-top: 7px;
    margin-bottom: 7px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.navbar li {
    margin: 0 10px;
}

.navbar ul a {
    text-decoration: none;
    color: #1c1d1f;
}

.navbar ul a:hover {
    color: #5624d0;
}


.logo {
    width: 7%;
    margin-right: 12px;
    margin-left: 10px;
}

.logo img {
    width: 100%;
    height: auto;
}

.navbar input {
    width: 35rem;
    padding: 1rem;
    border: 1px solid #1c1d1f;
    border-radius: 2rem;
}

.cart {
    width: 4%
}

.cart img {
    width: 100%;
}

.navbar ul :nth-child(7) {
    border: 1px solid #1c1d1f;
    padding: 10px 15px;
    font-weight: 700;
}

.navbar ul :nth-child(8) {
    border: 1px solid #1c1d1f;
    background-color: black;
    padding: 10px 15px;
    font-weight: 700;
}

.lang {
    width: 4%;
    border: 1px solid #1c1d1f;
    padding: 6px 15px;
}

.lang img {
    width: 100%;

}

.learn {
    background-color: white;
    width: 27rem;
    height: 10rem;
    position: absolute;
    left: 80px;
    top: 150px;
    padding-left: 20px;
    line-height: 1.5rem;
    box-shadow: 10px 10px 15px rgb(199, 202, 204);
}

.woman {
    width: 100%;
    box-shadow: 10px 10px 30px rgb(226, 230, 233);
}

.woman img {
    width: 100%;
    height: auto;
}

.learn h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    line-height: 2rem;

}

.learn p {
    font-size: 1.2rem;
}


.part3 {
    margin: 1.6rem;
}


.part3 h2 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.part3 p {
    font-size: 1.3rem;
    text-align: left;
}

.part3 ul {
    list-style-type: none;
    display: flex;
}

.part3 ul li {
    margin: 10px;
}

.part3 button {
    border: none;
    color: rgb(99, 95, 95);
    font-weight: 800;
    font-size: 16px;
}

.part3 button:hover {
    color: black;
}

.expand p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}

.expand a {
    text-decoration: none;
    border: 1px solid #1c1d1f;
    padding: 10px;
    color: black;
    font-weight: 600;


}

.part3b {
    border: 1px solid #d1d7dc;

    padding: 2rem;
}

.price {
    margin-top: 40px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}


.part4 {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    background-color: #f7f9fa;
}

.boxes {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.boxes figure {
    width: 10%;

}

.boxes img {
    width: 100%;
    height: auto;
}

.part5 {
    margin: 1.6rem;
}

.part5 h2 {
    margin-bottom: 20px;
}

.view {
    display: flex;
    gap: 1rem;
}

figcaption {
    font-weight: 700;
}



.part6 {
    background-color: #f7f9fa;
    height: 450px;
}

.part6 h2 {
    margin-left: 30px;
    margin-bottom: 30px;
}

.lists {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    margin: 10px 40px 40px 30px;
}

.lists h3 {
    margin-bottom: 20px;
}

.lists dt {
    color: blue;
    font-weight: 800;

}

.lists dd {
    margin-bottom: 1rem;
    font-size: 14px;
    color: #6a6f73;
}

#explore {
    border: 1px solid black;
    padding: 1rem;
    color: black;
    font-weight: 600;
    margin: 50px 10px 0 40px;

}

.part7 h2 {
    margin-top: 110px;
    margin-inline: auto;
}

.part7 h2,
p {
    text-align: center;
    line-height: 2rem;

}

.box0 {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.part8 {
    margin-top: 130px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 7rem;
    margin-bottom: 80px;

}



.talking {

    width: 600px;
}

.business figure {

    width: 70%;
    height: 100%;
}

.business figure img {
    width: 100%;
}

.business h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
}

.business ul {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.business li {
    margin-bottom: 10px;
    font-size: 19px;

}


.talking {
    width: 30%;
}

.talking img {
    width: 100%;
}

.business span {
    border: 2px solid black;
    padding: 0.8rem;


}

.get a {
    text-decoration: none;
    color: black;
    font-weight: 600;


}

#get {
    background-color: black;

}

#get a {
    color: white;
}


.part9 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.right {
    padding-top: 80px;



}

.right h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.right span {

    font-size: 19px;
    line-height: 1.5rem
}

.right button {
    margin-top: 10px;
    padding: 0.8rem;
    background-color: black;
    border: 2px solid black;
}

.right a {
    color: white;
    font-size: 14px;
}

footer {
    width: 99%;
    height: 300px;
    color: white;
    background-color: #1c1d1f;
    position: relative;
}

.foot {
    margin-top: 100px;
    display: flex;
    gap: 10rem;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    line-height: 2rem;
}

.foot ul {
    list-style-type: none;

}

.language {
    margin-top: 30px;
    margin-right: 70px;
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid white;
}