* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    margin-top: 7px;
    margin-bottom: 7px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.navbar li {
    margin: 0 10px;
}

.navbar ul a {
    text-decoration: none;
    color: #1c1d1f;
}

.navbar ul a:hover {
    color: #5624d0;
}


.logo {
    width: 7%;
    margin-right: 12px;
    margin-left: 10px;
}

.logo img {
    width: 100%;
    height: auto;
}

.navbar input {
    width: 35rem;
    padding: 1rem;
    border: 1px solid #1c1d1f;
    border-radius: 2rem;
}

.cart {
    width: 4%
}

.cart img {
    width: 100%;
}

.navbar ul :nth-child(7) {
    border: 1px solid #1c1d1f;
    padding: 10px 15px;
    font-weight: 700;
}

.navbar ul :nth-child(8) {
    border: 1px solid #1c1d1f;
    background-color: black;
    padding: 10px 15px;
    font-weight: 700;
}

.lang {
    width: 4%;
    border: 1px solid #1c1d1f;
    padding: 6px 15px;
}

.lang img {
    width: 100%;

}

.learn {
    background-color: white;
    width: 27rem;
    height: 10rem;
    position: absolute;
    left: 80px;
    top: 150px;
    padding-left: 20px;
    line-height: 1.5rem;
    box-shadow: 10px 10px 15px rgb(199, 202, 204);
}

.woman {
    width: 100%;
    box-shadow: 10px 10px 30px rgb(226, 230, 233);
}

.woman img {
    width: 100%;
    height: auto;
}

.learn h1 {
    font-size: 2.2rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    line-height: 2rem;

}

.learn p {
    font-size: 1.2rem;
}


.part3 {
    margin: 1.6rem;
}


.part3 h2 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.part3 p {
    font-size: 1.3rem;
}

.part3 ul {
    list-style-type: none;
    display: flex;
}

.part3 ul li {
    margin: 10px;
}

.part3 button {
    border: none;
    color: rgb(99, 95, 95);
    font-weight: 800;
    font-size: 16px;
}

.part3 button:hover {
    color: black;
}

.expand p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.expand a {
    text-decoration: none;
    border: 1px solid #1c1d1f;
    padding: 10px;
    color: black;
    font-weight: 600;


}

.part3b {
    border: 1px solid #d1d7dc;

    padding: 2rem;
}

.price {
    margin-top: 40px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.part4 {
    background-color: #f7f9fa;
    height: 7rem;
    margin: 4rem 0 5rem 0;
    padding: 0 1.6rem 0 1.6rem;
    display: flex;
    justify-content: space-between;
}

.box figure {
    width: 20%;

}

.box figure img {
    width: 100%;
    border: 2px solid #f7f9fa;
    border-radius: 50%;
}

.box {
    background-color: #f7f9fa;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}

.box p {
    font-weight: 700;
}

.part5 {
    margin: 1.6rem;
}

.part5 h2 {
    margin-bottom: 20px;
}

.view {
    display: flex;
    gap: 1rem;
}

figcaption {
    font-weight: 700;
}